
<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>

        <!-- Conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pingme?createDatabaseIfNotExist=true&amp;useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Configuración -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Declaración de clases mapeadas -->
        <mapping class="backend.ChatManager"/>
        <mapping class="backend.TcpConexionBasicaServer"/>
        <mapping class="backend.UserManager"/>
        <mapping class="entidades.Mensaje"/>
        <mapping class="entidades.Sala"/>
        <mapping class="entidades.ServerPeticion"/>
        <mapping class="entidades.ServerRespuesta"/>
        <mapping class="entidades.TipoComando"/>
        <mapping class="entidades.Usuario"/>
        <mapping class="frontend.PantallaLogin"/>
        <mapping class="frontend.PantallaChat"/>
        <mapping class="frontend.PantallaInicio"/>
        <mapping class="conexionFrontend.TcpConexionBasicaClient"/>

    </session-factory>
</hibernate-configuration>
