/* BOTONES */
.button {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: black;

    -fx-border-color: black;
    -fx-border-width: 0.5px;

    -fx-background-radius: 500px;
    -fx-border-radius: 500px;

    -fx-padding: 8 10;   

    -fx-alignment: center;
    -fx-text-alignment: center;
}

/* COLOR FONDO */
.anchor-pane {
	-fx-background-color: #D6FFFF; 
}

/* FIELD */
.text-field,
.password-field {
    -fx-background-color: #FFFFFF;       
    -fx-text-fill: black;

    -fx-background-radius: 500px;
    -fx-border-radius: 500px;

    -fx-border-color: #00000055;        
    -fx-border-width: 2px;

    -fx-padding: 10 15;
    -fx-focus-color: transparent;
}

/* TEXTOS */
.field-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-label-padding: 0 0 4 4; 
}

/* TITULOS */
.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
    -fx-alignment: center;
    -fx-padding: 10 0 20 0;  
}


/* COMBO BOX */
.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000;
    -fx-background-radius: 500px;
    -fx-border-radius: 500px;
    -fx-border-color: #00000055;
    -fx-border-width: 2px;
    -fx-padding: 6 14;
    -fx-margin: 8 0 8 0;   
}
.combo-box:hover {
    -fx-border-color: #000;
}

.combo-box .list-view {
    -fx-background-color: #FFF;
    -fx-border-color: #00000022;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.combo-box .list-cell {
    -fx-padding: 8 12;
}

